<app-menu></app-menu>
<div class="container">
  <div class="apto-blc">
    <mat-accordion>

      <mat-expansion-panel hideToggle *ngFor="let predio of predios">

        <mat-expansion-panel-header>
          <mat-panel-title>
            {{ predio.nome }}
          </mat-panel-title>
          <mat-panel-description>
            {{ predio.condominio?.nome }}
          </mat-panel-description>
        </mat-expansion-panel-header>

        <mat-expansion-panel hideToggle *ngFor="let pav of predio.pavimentos">

          <mat-expansion-panel-header>
            <mat-panel-title>
              Pavimento {{ pav.pavimento }}
            </mat-panel-title>
          </mat-expansion-panel-header>

          <mat-card *ngFor="let ap of pav.apartamentos" class="cardbox">
            <mat-card-header>
              <mat-card-title>Apartamento</mat-card-title>
              <mat-card-subtitle>{{ ap.numero }}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-actions align="start">
              <mat-slide-toggle [checked]="ap.dispAluguel" (click)="alterarDisponibilidadeAluguel(ap)">Alugado</mat-slide-toggle>
            </mat-card-actions>
          </mat-card>

        </mat-expansion-panel>
      </mat-expansion-panel>

    </mat-accordion>
  </div>
</div>
