<app-sistema></app-sistema>
<div class="back">
  <div class="container">
    <button class="btn btn-outline-warning mt-5 mb-2">Cadastrar Condomínio</button>
    <table class="table table-dark table-hover">
      <thead>
        <tr>
          <th scope="col">Condomínio</th>
          <th scope="col">CNPJ</th>
          <th scope="col">E-mail</th>
          <th scope="col">Endereço</th>
          <th scope="col">Numero</th>
          <th scope="col">Ações</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let cond of condominios">
          <td>{{cond.nome}}</td>
          <td>{{cond.cnpj}}</td>
          <td>{{cond.email}}</td>
          <td>{{cond.endereco.endereco}}</td>
          <td>{{cond.endereco.numero}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
