<mat-toolbar color="primary">
  <span class="me-4">CondoManager</span>

  <button mat-button (click)="redirecionadorMenu('condomanager/sistema')">DashBoard</button>

  <button mat-button [matMenuTriggerFor]="menu1">Condomínios</button>
  <mat-menu #menu1="matMenu">
    <button mat-menu-item (click)="redirecionadorMenu('condomanager/sistema/condominios')">Condomínios</button>
    <button mat-menu-item (click)="redirecionadorMenu('condomanager/sistema/predios')">Blocos/Prédios</button>
    <button mat-menu-item (click)="redirecionadorMenu('condomanager/sistema/apartamentos')">Apartamentos</button>
    <button mat-menu-item (click)="redirecionadorMenu('condomanager/sistema/areas')">Área Comum</button>
    <button mat-menu-item (click)="redirecionadorMenu('condomanager/sistema/reservas')">Reservas</button>
    <button mat-menu-item (click)="redirecionadorMenu('condomanager/sistema/veiculos')">Veículos</button>
    <button mat-menu-item (click)="redirecionadorMenu('condomanager/sistema/assembleias')">Assembléias</button>
    <button mat-menu-item (click)="redirecionadorMenu('condomanager/sistema/moradores')">Moradores</button>
    <button mat-menu-item (click)="redirecionadorMenu('condomanager/sistema/ocorrencias')">Ocorrências</button>
    <button mat-menu-item (click)="redirecionadorMenu('condomanager/sistema/pets')">Pets</button>
  </mat-menu>

  <button mat-button [matMenuTriggerFor]="menu2">Financeiro</button>
  <mat-menu #menu2="matMenu">
    <button mat-menu-item (click)="redirecionadorMenu('condomanager/sistema')">Contas a pagar</button>
    <button mat-menu-item (click)="redirecionadorMenu('condomanager/sistema')">Constas a receber</button>
    <button mat-menu-item (click)="redirecionadorMenu('condomanager/sistema')">Fornecedores</button>
  </mat-menu>

  <button mat-button [matMenuTriggerFor]="menu3">Portaria</button>
  <mat-menu #menu3="matMenu">
    <button mat-menu-item (click)="redirecionadorMenu('condomanager/sistema')">Teste</button>
    <button mat-menu-item (click)="redirecionadorMenu('condomanager/sistema')">Teste</button>
  </mat-menu>

  <button mat-button [matMenuTriggerFor]="menu3">Configurações</button>
  <mat-menu #menu3="matMenu">
    <button mat-menu-item (click)="redirecionadorMenu('condomanager/sistema')">Perfil</button>
    <button mat-menu-item (click)="redirecionadorMenu('condomanager/sistema')">Usuários</button>
  </mat-menu>

  <button mat-icon-button color="accent" (click)="logout()" aria-label="Example icon button with a heart icon">
    <mat-icon>logout</mat-icon>
  </button>

  <span class="spacer"></span>
  <b>{{ condominio.nome }}</b>
  <button mat-icon-button color="accent"(click)="openTrocarCondModal()" aria-label="Example icon button with a heart icon">
    <mat-icon>edit</mat-icon>
  </button>

</mat-toolbar>
