.login {
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-box {
    width: 300px;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}

.login-box input[type="text"],
.login-box input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}

.login-box .bt-login {
    width: 100%;
    padding: 10px;
    border: 0;
    background-color: #e5ff00;
    color: #000000;
    border-radius: 5px;
    cursor: pointer;
}

.login-box input[type="submit"]:hover {
    background-color: #45a049;
}