<app-menu></app-menu>
<div class="back">
  <div class="container-fluid pt-3">

    <mat-form-field class="me-3">
      <mat-label>Condomínios</mat-label>
      <mat-select (selectionChange)="carregarPrediosPorCondominio($any($event).value)">
        <mat-option *ngFor="let cond of condominios" [value]="cond.id">
          {{ cond.nome }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <button mat-raised-button color="primary" data-bs-toggle="modal" data-bs-target="#cadPredioModal">Cadastrar Prédio</button>

    <!-- Modal Cadastrar Predio -->
    <div class="modal fade" id="cadPredioModal" tabindex="-1" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">Cadastrar Prédio</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form method="post" [formGroup]="formCadastrar">
              <div class="mb-3">
                <label for="cond-field" class="form-label">Condomínio</label>
                <select class="form-select" formControlName="idCondominio">
                  <option value="">Selecionar...</option>
                  <option *ngFor="let cond of condominios" [value]="cond.id">{{cond.nome}}</option>
                </select>
              </div>
              <div class="mb-3">
                <label for="nomePredio-field" class="form-label">Nome Prédio/Bloco</label>
                <input type="predio" formControlName="nome" required="required" class="form-control" aria-describedby="emailHelp" name="nome">
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal">Fechar</button>
            <button type="button" class="btn btn-outline-warning" (click)="cadastrarPredio()">Cadastrar</button>
          </div>
        </div>
      </div>
    </div>

    <div class="alert alert-warning alert-dismissible fade show d-flex justify-content-center" role="alert" *ngIf="predios.length == 0">
      <h6>Lista de prédios vazia, selecione um condomínio</h6>
    </div>

    <!-- Yable condominios -->
    <mat-table [dataSource]="predios" class="mat-table" *ngIf="predios.length != 0">

      <!-- condominio Column -->
      <ng-container matColumnDef="bloco">
        <mat-header-cell *matHeaderCellDef>Bloco/Prédio</mat-header-cell>
        <mat-cell *matCellDef="let predio">{{ predio.nome }}</mat-cell>
      </ng-container>

      <!-- cnpj Column -->
      <ng-container matColumnDef="condominio">
        <mat-header-cell *matHeaderCellDef>Condomínio</mat-header-cell>
        <mat-cell *matCellDef="let predio">{{ predio.condominio.nome }}</mat-cell>
      </ng-container>

      <!-- Ações Column -->
      <ng-container matColumnDef="acoes">
        <mat-header-cell *matHeaderCellDef="" class="action-column-header">Ações</mat-header-cell>
        <mat-cell *matCellDef="let course" class="action-column">
          <button mat-icon-button color="primary" aria-label="Editar curso">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button color="warn" aria-label="Excluir curso">
            <mat-icon>delete</mat-icon>
          </button>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
    </mat-table>

  </div>
</div>
