<div class="login-container" color="secondary">
  <div>
    <div class="alert alert-danger alert-dismissible fade show" role="alert" *ngIf="responseHttpErrors.length > 0">
      <strong>
        <p *ngFor="let e of responseHttpErrors">{{e.mensagem}}</p>
      </strong>
    </div>
    <div class="login">
        <div class="logo-box">
          <h2>CONDOMANAGER</h2>
        </div>
        <div class="login-box">
          <form method="post">

            <mat-form-field class="input-form-style">
              <mat-label>E-mail</mat-label>
              <input matInput type="email" required="required" name="email" [(ngModel)]="login.email">
            </mat-form-field>

            <mat-form-field class="input-form-style">
              <mat-label>Senha</mat-label>
              <input matInput [type]="hide ? 'password' : 'text'" required name="senha" [(ngModel)]="login.password">
              <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
            </mat-form-field>

            <div class="mb-3">
              <p><a class="forgot-text" href="">Esqueci a senha</a></p>
            </div>
            <button type="submit" mat-raised-button type="submit" class="btn btn-dark" (click)="onLogin()">Login</button>
          </form>
        </div>
    </div>
  </div>
</div>
