<div class="back">
    <div class="login">
        <h1 class="d-flex justify-content-center ms-5">CONDOMANAGER LOGO</h1>
        <div class="login-box">
            <form>
              <div class="mb-3">
                <label for="email-field" class="form-label">Email</label>
                <input type="email" class="form-control" id="email-field" aria-describedby="emailHelp">
              </div>
              <div class="mb-3">
                <label for="senha-field" class="form-label">Senha</label>
                <input type="password" class="form-control" id="senha-field">
              </div>
              <div class="mb-3">
                <p><a class="forgot-text" href="">Esqueci a senha</a></p>
              </div>
              <button type="submit" class="btn btn-dark">Login</button>
            </form>
        </div>
    </div>
</div>
